body {
    font-family: 'Oswald';;
    background-color: #fff;
    color: #333;
    padding: 10px;
    margin: 0;
  }
  
  h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 3px;
  }
  
  main {
    padding: 30px;
  }

  .registrar{
    font-family: 'Russo One', sans-serif;
    display: block;
    width: 25%;
    padding: 12px;
    margin: 20px auto;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .registrar:hover{
  background-color: #969696;
  color: #333;
  }
    
  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    table-layout: fixed;
  }
  
  table tr {
    text-align: center;
  }
  
  table th, table td {
    width: auto;
    padding: 20px;
    text-align: left;
  }
  
  table th {
    background-color: #333;
    color: #fff;
    font-size: 20px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody a {
    font-family: 'Russo One', sans-serif;
    display: block;
    width: 90%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  tbody a:hover {
    background-color: #555;
  }
      
  .texto{
    font-size: 20px;
    font-weight: 500;
  }
  
